@page "/phrases"
@using System.Linq;
@using System.Text.RegularExpressions;
@inject HttpClient Http

<h1>Toki Pona Phrases</h1>

<div class="searchbar">
    <input class="searchbox" placeholder="search..." @onchange=@OnChangeSearch> 
    <select @onchange=@OnChangeFromTo>
        <option value="English -> Toki Pona">English -> Toki Pona</option>
        <option value="Toki Pona -> English">Toki Pona -> English</option>
    </select>
</div>

@if (sentences == null) {
    <p><em>Loading...</em></p>
} else {
    <table class="table">
        <thead>
            <tr>
                <th>Toki Pona</th>
                <th>Sitelen Pona</th>
                <th>English</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sentence in matchingSentences) {
                <tr>
                    <td>@sentence.From</td>
                    <td class="tokipona">@sentence.HieroglyphicFrom</td>
                    <td>@sentence.To</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public bool FromEnglish = true;
    public string CurrentSearch = "";
    private Sentence[] matchingSentences;
    private Sentence[] sentences;

    private void OnChangeSearch(ChangeEventArgs e) {
        CurrentSearch = e.Value.ToString().Trim().ToLowerInvariant();
        UpdateSearch();
    }

    private void UpdateSearch() {
        string[] searchWords = CurrentSearch.Split(new char[]{' ', ',', ';', '-', '\n', '\t'}, StringSplitOptions.RemoveEmptyEntries);
        if (FromEnglish) {
            matchingSentences = sentences.Where(s => searchWords.All(w => s.To.ToLowerInvariant().Contains(w)))
                                         .OrderBy(s => WordHelpers.LevenshteinDistance(CurrentSearch, s.To.ToLowerInvariant())).ToArray();
        } else {
            matchingSentences = sentences.Where(s => searchWords.All(w => s.From.ToLowerInvariant().Contains(w)))
                                         .OrderBy(s => WordHelpers.LevenshteinDistance(CurrentSearch, s.From.ToLowerInvariant())).ToArray();
        }
    }

    private void OnChangeFromTo(ChangeEventArgs e) {
        string value = e.Value.ToString().Trim();
        bool result;
        Console.WriteLine(value);
        if (value == "English -> Toki Pona") {
            result = true;
        } else {
            result = false;
        }
        if (FromEnglish != result) {
            FromEnglish = result;
        }
        Console.WriteLine(FromEnglish);
    }

    protected override async Task OnInitializedAsync() {
        sentences = await Http.GetFromJsonAsync<Sentence[]>("data/sentences.json");
        matchingSentences = sentences.Skip(11).Take(10).ToArray();
    }

    public class Sentence {
        public string From { get; set; }
        public string HieroglyphicFrom {
            get {
                return Regex.Replace(Regex.Replace(From, @"\bkin\b", "a"), @"\b[A-Z]\w+\b", m => m.ToString().ToUpper());
            }
        }
        public string To { get; set; }
    }
}
