@inherits LayoutComponentBase

<div class="main">
    <div class="top-navbar">
        <ul>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="places">
                    <span aria-hidden="true"></span> Places
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="phrases">
                    <span aria-hidden="true"></span> Phrases
                </NavLink>
            </li>
        </ul>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
